<nav class="main-category__nav">
    <ul class="main-category__item-list">
        <li class="main-category__item">
            <a class="<%= path === '/category/1' ? 'active' : '' %>" href="/?category=all">전체</a>
        </li>
    </ul>
</nav>
