<!DOCTYPE html>
<html lang="en">
    <!-- pageTitle, path 필요-->
<head>
    <%- include('./imports/head-layout') %>
</head>
<body>
    <%- include('./imports/header') %>
    <div style="text-align: center;">
        <h1>응 여기 아니야</h1>
    </div>
</body>
</html>