<!DOCTYPE html>
<html lang="en">
    <!-- pageTitle 필요-->
<head>
    <%- include('./imports/head-layout') %>
</head>
<body>
    <%- include('./imports/header') %>
    <h1>You bought an item!</h1>
</body>
</html>