<!DOCTYPE html>
<html>
    <!-- pageTitle, path 필요-->     
<head>
    <%- include('./imports/head-layout') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('./imports/header') %>
    <main>
        <form class="product-form" action="/login" method="POST">
            <div class="form-control">
                <label for="id">ID</label>
                <input type="text" name="id" id="id">

                <label for="password">PASSWORD</label>
                <input type="password" name="password" id="password">
            </div>

            <button class="btn" type="submit">LOGIN</button>
        </form>
    </main>
</body>
</html>